<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="select" value="http://192.168.82.3:8082/Select.aspx" />
		<add key="insert" value="http://192.168.82.3:8082/Insert.aspx" />
		<add key="update" value="http://192.168.82.3:8082/Update.aspx" />
		<add key="delete" value="http://192.168.82.3:8082/Delete.aspx" />
	</appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>